//- index.jade
extends ./default.jade

block style
	link(rel="stylesheet" href="/index.css")

block content
	.main
		img(src="/images/index.jpg")
		form(action="/search" method="get")
			input(type="text" name="value")
			input(type="submit" value="搜索")
